.ModalWrapper {
    position: fixed;
    z-index: 1000;
    width : 100vw;
    height : 100vh;
    transform: scale(1);
    opacity : 1;

    transition: opacity 300ms, transform 300ms;
}

.hidden {
    transform: scale(0);
    opacity : 0;
}

.PanelModal {
    min-width : 20rem;
    min-height : 35rem;
    background-color: var(--secondaryLight);
    padding : 2rem;
    border-radius: 2rem;
}

.PanelModal .PanelModalButtons {
    width : 100%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PanelModal input, .PanelModal textarea, .PanelModal button {
    width : 80%;
    padding : 0.7rem;
    margin : 0.5rem;
    max-height : 10rem;
}